.skills {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 16px;
    &__title {
        border-bottom: 2px solid #E5E8EC; 
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 2.25rem;
        margin: 0;
        padding: 1rem 0;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

.skills-list {
    column-gap: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8rem 0 0;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        padding: 5rem 0 0;
    }
    &__item {
        color: $gray;
        font-size: 1.125rem;
        padding: 11px 0 11px 30px;
        position: relative;
        @media (max-width: $mobile) {
            padding-left: 20px;
        }
        &::before {
            background: url('../assets/img/check-green.svg');
            content: '';
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 18px;
            .skills-list--violet & {
                background-image: url('../assets/img/check-purple.svg');
            }
            .skills-list--blue & {
                background-image: url('../assets/img/check-blue.svg');
            }
            @media (max-width: $mobile) {
                background-size: contain;
                height: 12px;
                top: 11px;
                width: 12px;
            }
        }    
    }
    &__list {
        column-gap: 24px;   
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        list-style-type: none;
        margin-top: calc(1.5rem + 4px);
        padding: 0;
    }
    &__title {
        color: $big-stone;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;
        &::before {
            background: $green;
            border-radius: 8px;
            content: '';
            display:block;
            height: 4px;
            margin-bottom: 1.5rem;
            width: 80px;
            .skills-list--violet & {
                background: $violet;
            }
            .skills-list--blue & {
                background: $mariner-blue;
            }
        }
    }
} 

.skills-list--blue {
        padding: 10.5rem 0 10.5rem;
    }